name: CI

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  frontend:
    name: Frontend (Build & Lint)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

  backend:
    name: Backend (Health Check)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    services:
      mongodb:
        image: mongo:latest
        ports:
          - 27017:27017
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: backend/package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Create Start Environment File
        run: |
          echo "MONGODB_URI=mongodb://localhost:27017/authsphere_test" >> .env
          echo "ACCESS_TOKEN_SECRET=super_secret_access_token_should_be_at_least_32_chars_long" >> .env
          echo "REFRESH_TOKEN_SECRET=super_secret_refresh_token_should_be_at_least_32_chars_long" >> .env
          echo "CORS_ORIGIN=http://localhost:5173" >> .env
          echo "GOOGLE_CLIENT_ID=dummy_google_id" >> .env
          echo "GITHUB_CLIENT_ID=dummy_github_id" >> .env

          echo "GITHUB_CLIENT_ID=dummy_github_id" >> .env

      - name: Lint
        run: npm run lint

      - name: Run Diagnostic Check
        run: npm run test:env

  sdk:
    name: SDK (Build)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./package
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: package/package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build

  test-app:
    name: Test App (Build & Lint)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./test
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: test/package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build
